@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #0f172a;
    transition: background-color 0.3s, color 0.3s;
}

.dark body {
    background-color: #111827;
    color: #f1f5f9;
}
